body {
    background-color:white;
     margin:0% 0% 0% 0%;
     
}
#pictureMain{
    width:auto;
   border-bottom:solid thin #808080;
   border-top:solid thin #808080;
    overflow:auto;
   margin-top:5%;
    /*position:fixed;*/
}
#Image1{
 
    width:100%;
 /*overflow:auto;*/
}
.left{
    width:50%;
    float:left;
    overflow:auto;
    text-align:right;
}
.right{
    width:50%;
    float:right;
    overflow:auto;
    text-align:left;
}
#section1{
    width:100%;
    align-self:center;
    align-content:center;
    overflow:auto;
}
.bigBorder{
    border-bottom:solid thin #4cff00;
    border-top:solid thin #4cff00;
}
.inline{
    /*display:inline-block;*/
    overflow:auto;
}
#UpdatePanel1{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.center{
    text-align:center;
    align-content:center;
    align-items:center;
    /*display:inline;*/
    /*overflow:auto;*/
}
.DisplayLeft{
    
}